project:
  type: website
  output-dir: docs
  render:
    - "*.qmd"
  preview:
    port: 3333

website:
  title: "Data Analytics for Sciences"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



